{% extends "base_site_auth.html" %}

{% block title %} Register {% endblock title %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">

              <div class="text-muted text-center mt-2 mb-3">
              
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  <h1>Register</h1>
                {% endif %}

              </div>
              
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              
              {% if success %}

                <div class="text-center mt-2 mb-3">

                  <span class="text-success">{{ success | safe }}</span>
                  
                </div>

              {% else %}
                <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}

                  
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      {{ form.name(placeholder="Name",class="form-control") }}
                    </div>
                  </div>
                  
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      {{ form.username(placeholder="Username",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.email(placeholder="Email",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.password(placeholder="Password",class="form-control",type="password") }}
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-pin"></i></span>
                      </div>
                      {{ form.pincode(placeholder="Pincode",class="form-control", type="number") }}
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                      </div>
                      {{ form.phoneno(placeholder="Phone No",class="form-control", type="number") }}
                    </div>
                  </div>
                  
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                      </div>
                      {{ form.address(placeholder="Address",class="form-control") }}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" name="register" class="btn btn-primary my-4">Register</button>
                  </div>
                </form>
              {% endif %}

            </div>
          </div>
          <div class="row mt-3 text-center">
            <div class="col-12">
              <a href={{ url_for('base_blueprint.loginN') }} class="text-light"><small>Login</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
