
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="/">
          <img src="/static/assets/img/brand/white.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

{% if current_user.is_authenticated %}
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/static/assets/img/theme/profile.png">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">{{ current_user.username }}</h6>
            </div>
            <a href="" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Profile</span>
            </a>
            <a href="" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Edit Profile</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="/logout" class="dropdown-item">
              <i class="ni ni-user-run text-red"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
          
        {% endif %}  
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <img src="/static/assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{ url_for('base_blueprint.home') }}">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-inner--text">Home</span>
              </a>
            </li>
            
          {% if not current_user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{ url_for('base_blueprint.login') }}">
                <i class="ni ni-single-02"></i>
                <span class="nav-link-inner--text">Login</span>
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href={{ url_for('base_blueprint.logout') }}>
                <i class="ni ni-user-run text-red"></i> Logout
              </a>
            </li>
            
          {% endif %}
            
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="">
                <i class="fa fa-plus"></i>
                <span class="nav-link-inner--text">Join Us</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="">
                <i class="fa fa-info-circle"></i>
                <span class="nav-link-inner--text">FAQ</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="">
                <i class="fa fa-info"></i>
                <span class="nav-link-inner--text">About Us</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="">
                <i class="fa fa-phone"></i>
                <span class="nav-link-inner--text">Contact Us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


